@charset 'utf-8';
/* reset */
* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}

/* content */
#slider {
  width: 1000px;
  margin: 50px auto;
  height: 440px;
  position: relative;
  overflow: hidden;
}
.slide {
  width: 100%;
  height: 440px;
  position: absolute;
  left: 0;
}
.slide li {
  float: left;
  height: 440px;
}
.slide li img {
  width: 1000px;
}

.dotList {
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: 30px;
  z-index: 999;
  transform: translateX(-50%);
}
.dotList li {
  width: 30px;
  height: 30px;
  background-color: #ccc;
  color: #fff;
  line-height: 30px;
  border-radius: 50%;
  float: left;
  margin: 0 2px;
  transition: 0.2s;
}
.dotList li.on {
  background-color: orangered;
}

.btnBox button {
  position: absolute;
  top: 40%;
  border: none;
  background-color: transparent;
  font-size: 70px;
  transform: scaleX(0.5);
  color: #fff;
  text-shadow: 2px 2px 5px #ccc;
  cursor: pointer;
}
.prev {
  left: 20px;
}
.next {
  right: 20px;
}
