@charset "utf-8";

/* header, footer, div { border: 1px solid red; } */
#wrap {
  width: 1200px;
  margin: 0 auto;
}
header {
  height: 100px;
}
header .logo {
  float: left;
  padding-top: 30px;
}
header nav {
  float: right;
}
.gnb {
  margin: 25px;
}
.gnb > li {
  float: left;
  width: 200px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  background-color: #0066ad;
  position: relative;
}
.gnb > li:hover {
  background-color: #3a8fcc;
}
.gnb > li > a {
  color: #fff;
}

.submenu {
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  display: none;
}
.submenu li {
  font-size: 16px;
  background-color: #30a3f3;
}
.submenu li:hover {
  background-color: #157ee0;
}
.submenu li a {
  color: #fff;
}

#slider {
  height: 300px;
  overflow: hidden;
  position: relative;
}
.slide {
  width: 3600px;
  height: 300px;
  position: absolute;
  left: 0px;
  top: 0;
}
.slide li {
  width: 1200px;
  height: 300px;
  float: left;
  position: relative;
}
.slide li .caption {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 50px;
  background-color: rgba(0, 102, 173, 0.7);
  text-align: center;
  line-height: 50px;
  border-radius: 25px;
  color: #fff;
  font-size: 18px;
}
.slide li img {
  width: 100%;
}

#content {
  height: 200px;
}
#content section {
  width: 380px;
  float: left;
  margin: 10px 0;
}
#content section.banner {
  margin: 10px 25px;
}

.tabBox .tab_menu {
  height: 31px;
}
.tabBox .tab_menu a {
  display: block;
  width: 130px;
  height: 30px;
  background-color: #0066ad;
  color: #fff;
  text-align: center;
  line-height: 30px;
  float: left;
  border: 1px solid #0066ad;
}
.tabBox .tab_menu a.on {
  background-color: #fff;
  color: #0066ad;
  border-bottom-color: #fff;
}

.tab_con .list {
  border-top: 1px solid #0066ad;
  padding-top: 10px;
}
.tab_con .list:nth-child(1) li {
  line-height: 2.2;
  font-size: 14px;
}
.tab_con .list:nth-child(1) li span {
  float: right;
}
.tab_con .list:nth-child(1) li:nth-child(2n) {
  background-color: #eee;
}

.tab_con .list:nth-child(2) {
  text-align: center;
  display: none;
}
.tab_con .list:nth-child(2) li {
  display: inline-block;
  margin: 0 2px;
}

#content h3 {
  width: 130px;
  height: 30px;
  background-color: #0066ad;
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-weight: normal;
  font-size: 16px;
}
#content .imgbox {
  border-top: 1px solid #0066ad;
  text-align: center;
  padding-top: 10px;
}

footer {
  height: 100px;
  border-top: 2px solid #ccc;
}
footer .btm_logo {
  float: left;
  border-right: 2px solid #ccc;
  height: 100px;
  line-height: 120px;
}
.copy {
  float: right;
  width: 1000px;
}
.btm_menu {
  overflow: hidden;
  width: 600px;
  margin: 0 auto;
}
.btm_menu::after {
  width: 525px;
  height: 1px;
  background-color: #555;
}
.btm_menu li {
  float: left;
  width: auto;
  padding: 10px 10px;
  text-align: center;
  height: 30px;
  line-height: 30px;
}
footer .copyright {
  width: 320px;
  margin: 20px auto;
}

#popup {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}
#popup .modal {
  background-color: #fff;
  width: 400px;
  margin: 250px auto;
  padding: 50px;
}
#popup .modal h2 {
  border-bottom: 1px solid #0066ad;
  padding-bottom: 10px;
}
#popup .modal p {
  margin-top: 20px;
  line-height: 2;
  color: #555;
  font-size: 14px;
}
#popup .modal .close {
  margin-top: 40px;
  background-color: #0066ad;
  border: none;
  padding: 10px 20px;
  color: #fff;
}
