@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}
.clear::after {
  content: '';
  display: block;
  clear: both;
}
#wrap {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}
h1 {
  margin: 50px auto 30px;
  position: relative;
  width: 200px;
}
h1::after {
  content: '';
  position: absolute;
  width: 200px;
  bottom: -5px;
  left: 50%;
  background-color: indigo;
  height: 2px;
  transform: translateX(-50%) scaleX(0%);
  transition: 1s;
}
h1:hover::after {
  transform: translateX(-50%) scale(100%);
}
.list {
  list-style: none;
}
.list li {
  width: 350px;
  height: 200px;
  float: left;
  margin-right: 40px;
  border: 2px solid #ddd;
  position: relative;
  overflow: hidden;
}
.list li:last-child {
  margin-right: 0;
}
.list li img {
  width: 100%;
}
.leftbox {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(82, 56, 231, 0.7);
  transform: translateX(-100%);
  transition: 1s;
}
.leftbox h3 {
  color: #fff;
  padding-top: 80px;
}
.list li img {
  transition: 1s;
}
.list li:hover .leftbox {
  transform: translateX(0);
}
.list li span {
  width: 80px;
  height: 80px;
  background-color: deeppink;
  color: #fff;
  text-align: center;
  line-height: 75px;
  font-weight: bold;
  border-radius: 50%;
  position: absolute;
  left: 175px;
  top: 100px;
  transition: 1s, opacity 0.5s;
  transform: translate(-50%, 150%);
  border: 5px solid #fff;
  box-sizing: border-box;
  opacity: 0;
}
.list li:nth-child(2):hover img {
  transform: scale(1.3);
  opacity: 0.7;
}
.list li:hover span {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.list li:nth-child(3) {
  perspective: 1000px;
  overflow: visible;
}
.inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  backface-visibility: visible;
  transition: 1s;
}
.inner div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.back {
  background-color: dimgray;
  color: #fff;
  text-align: center;
  line-height: 200px;
  transform: rotateY(180deg);
}
.list li:nth-child(3):hover .inner {
  transform: rotateY(180deg);
}
.btn {
  margin: 30px 0;
  width: 150px;
  height: 50px;
  background-color: darkblue;
  color: #fff;
  border-style: none;
  border-radius: 7px;
  transition: 1s;
  box-shadow: 0, 0, 0 #333;
}
.btn:hover {
  background-color: darkcyan;
  box-shadow: 10px 10px 5px #333;
  cursor: pointer;
}
