@charset "utf-8";
:root {
  --main-color: #3f51b5; /*메인칼라*/
}

html {
  scroll-behavior: smooth;
}

.inner {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999;
  border-bottom: 1px solid var(--main-color);
  box-shadow: 1px 1px 20px rgba(152, 152, 152, 0.5);
  transition: 0.5s;
}
header.on {
  background-color: var(--main-color);
  border-bottom: none;
}
header.on .logo a {
  color: #fff;
}
.logo {
  font-size: 26px;
  line-height: 80px;
  margin-left: 3%;
  flex: 1 1 0;
}
.logo a {
  color: var(--main-color);
}
header nav {
  flex: 3 3 0;
}
.gnb {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.gnb li {
  flex: 1 1 auto;
}
.gnb li a {
  color: var(--main-color);
  text-transform: uppercase;
}
header.on .gnb li a {
  color: #fff;
}
.gnb li:hover a {
  color: hotpink;
}
header.on .gnb li:hover a {
  color: hotpink;
}
.toggle {
  display: none;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 4%;
  top: 25px;
  background: url(../images/p-images/bars.svg) no-repeat center/cover;
}

#slider {
  margin-top: 80px;
}
#content {
  max-width: 1140px;
  margin: 0 auto;
}
#content > section {
  padding: 100px 0 0;
}
.con_title {
  color: var(--main-color);
  font-size: 42px;
  margin: 40px 2%;
  font-weight: normal;
  text-transform: uppercase;
}
.weare.on {
  opacity: 1;
}
.weare {
  opacity: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding-bottom: 100px !important;
  transition: 0.5s;
}
.weare.on > .con_title {
  transform: translateX(0);
}
.weare.on > p {
  transform: translateX(0);
}
.weare > .con_title {
  width: 30%;
  margin: 8px 2% 0;
  transform: translateX(-100px);
  transition: 1s;
}
.weare.on .list {
  transform: translateY(0);
  opacity: 1;
}
.weare > p {
  width: 60%;
  border-left: 2px solid #ddd;
  padding: 5px 0 5px 20px;
  line-height: 1.6;
  color: #555;
  font-size: 14px;
  transform: translateX(100px);
  transition: 1s;
}
.weare .list {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  margin-top: 80px;
  transform: translateY(200px);
  transition: 1s 0.2s;
  opacity: 0;
}
.weare .list li {
  flex: 1 1 0;
  text-align: center;
  padding: 0 2%;
}

.weare .list li h3 {
  color: var(--main-color);
  margin: 30px 0;
}
.weare .list li p {
  line-height: 1.6;
  color: #555;
  font-size: 14px;
}
.work.on .con_title {
  transform: translateX(0);
  opacity: 1;
}
.work .con_title {
  transform: translateX(-100px);
  opacity: 0;
  transition: 1s;
}
.work.on .list {
  opacity: 1;
  transform: translateY(0);
}
.work .list {
  display: flex;
  flex-flow: row wrap;
  opacity: 0;
  transform: translateY(200px);
  transition: 1s 0.2s;
}
.work .list li {
  width: 25%;
}
.work .list li a {
  display: block;
  overflow: hidden;
  position: relative;
}
.work .list li a img {
  width: 100%;
  transition: 0.5s;
}
.work .list li a:hover img {
  transform: scale(1.1);
}
.work .list li a::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(63, 81, 181, 0.7);
  opacity: 0;
  transition: opacity 0.5s;
}
.work .list li a:hover::after {
  opacity: 1;
}
.work .list li a:hover .caption {
  top: 30px;
  opacity: 1;
}
.caption {
  position: absolute;
  opacity: 0;
  left: 24px;
  top: -30px;
  text-align: left;
  z-index: 10;
  transition: 0.5s;
}
.caption h3 {
  font-size: 24px;
  color: #fff;
  margin-bottom: 8px;
}
.caption span {
  color: #eee;
  font-size: 11px;
  letter-spacing: 2px;
}

.divider {
  width: 50px;
  margin: 100px auto 0;
  background-color: var(--main-color);
}

.blog {
  text-align: left;
  display: flex;
}
.blog.on .con_title {
  transform: translateX(0);
  opacity: 1;
}
.blog .con_title {
  flex: 1 1 0;
  transform: translateX(-100px);
  opacity: 0;
  transition: 1s;
}
.blog.on .list li {
  transform: translateY(0);
  opacity: 1;
}
.blog .list {
  flex: 3 3 0;
  display: flex;
}
.blog .list li {
  flex: 1 1 0;
  margin-left: 1%;
  transform: translateY(100px);
  opacity: 0;
  transition: 1s;
}
.blog .list li:first-child {
  margin-left: 0;
}
.blog .list li:nth-child(1) {
  transition-delay: 0;
}
.blog .list li:nth-child(2) {
  transition-delay: 0.3s;
}
.blog .list li:nth-child(3) {
  transition-delay: 0.6s;
}
.blog .list li a {
  display: block;
  overflow: hidden;
}
.blog .list li a img {
  width: 100%;
  transition: 0.5s;
}
.blog .list li a:hover img {
  transform: scale(1.1);
}
.blog .list li time {
  color: #616161;
  font-size: 12px;
  display: block;
  margin: 20px 0 10px;
}
.blog .list li p {
  line-height: 1.6;
  color: #333;
}

.contact {
  display: flex;
}
.contact.on .con_title {
  transform: translateX(0);
  opacity: 1;
}
.contact .con_title {
  flex: 1 1 0;
  transform: translateX(-100px);
  opacity: 0;
  transition: 1s;
}
.contact.on .formBox {
  transform: translateY(0);
  opacity: 1;
}
.contact .formBox {
  flex: 3 3 0;
  transform: translateY(100px);
  opacity: 0;
  transition: 1s;
}
fieldset {
  display: flex;
}
.form {
  flex: 1 1 0;
  margin-right: 2%;
}
.textform {
  flex: 1 1 0;
}
fieldset input,
fieldset textarea {
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #757575;
  box-sizing: border-box;
  outline: none;
  border-radius: 0;
  font-size: 12px;
  color: var(--main-color);
  width: 100%;
  padding: 12px 5px;
}
fieldset textarea {
  height: 140px;
}
.sendBtn {
  margin-top: 30px;
  text-align: right;
}
.sendBtn button {
  background-color: var(--main-color);
  border: 0;
  color: #fff;
  padding: 15px 30px;
  cursor: pointer;
}

iframe {
  padding: 100px 0 0;
  display: block;
}

footer {
  background-color: var(--main-color);
  padding: 20px 0 18px;
}
footer p {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-size: 14px;
}

.blind {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -999em;
}

#top {
  position: fixed;
  bottom: 70px;
  right: 40px;
  width: 50px;
  height: 50px;
  background-color: var(--main-color);
  text-align: center;
  line-height: 50px;
  border-radius: 20%;
  opacity: 0;
  transition: 0.5s;
  font-size: 14px;
}
#top.on {
  opacity: 1;
}
#top a {
  color: #fff;
}

@media screen and (max-width: 860px) {
  .con_title {
    text-align: center;
    margin: 40px 0;
  }
  .weare {
    flex-flow: column wrap;
    align-items: center;
  }
  .weare .con_title {
    width: 100%;
    margin: 40px 0 20px;
  }
  .weare p {
    width: 100%;
    border-left: none;
    padding: 0 5% 30px;
    box-sizing: border-box;
    text-align: center;
  }
  .weare .list {
    flex-flow: row wrap;
    justify-content: center;
  }
  .weare .list li {
    width: 50%;
    text-align: center;
    padding: 0 2%;
    box-sizing: border-box;
    flex: none;
    margin-bottom: 40px;
  }
  .work .list li {
    width: 50%;
  }
  .blog {
    text-align: left;
    display: block;
  }
  .blog .con_title {
    margin-top: 0;
  }
  .blog .list {
    margin: 0 3%;
  }
  .contact {
    display: block;
  }
  .contact .formBox {
    margin: 0 3%;
  }

  @media screen and (max-width: 560px) {
    header nav {
      height: 0;
      overflow: hidden;
      visibility: hidden;
      transition: 1s;
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      z-index: 10;
    }
    header nav.on {
      height: 240px;
      visibility: visible;
    }
    .gnb {
      display: flex;
      flex-flow: column wrap;
    }
    .gnb li {
      flex: none;
      width: 100%;
      background-color: rgba(103, 118, 202, 0.9);
      text-align: center;
      padding: 15px 0;
      border-bottom: 1px solid #ccc;
    }
    .gnb li a {
      color: #fff;
    }
    .gnb li:hover a {
      color: aquamarine;
    }
    .toggle {
      display: block;
    }

    .weare .list li {
      width: 100%;
    }
    .work .list li {
      width: 100%;
    }
    .blog .list {
      display: block;
    }
    .blog .list li {
      width: 90%;
      margin: 0 5% 30px;
    }
    .blog .list li:first-child {
      margin-left: 5%;
    }
    fieldset {
      display: block;
    }
  }
}
